body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  padding: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 90%
}

input {
  font-size: 1.2em;
  padding: 5px;
  margin-botton: 10px;
}

button {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
}

button:hover {
  box-shadow: 3px 2px 3px #ccc;
}
